{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>predict</title>
    <link rel="stylesheet" href="{%static 'predict.css' %}">
    
    <link rel="html" href="display.html">
    <script>
        let count = 0; // Define count variable

        function predict() {
            var vegetable = document.getElementById("vegetable").value;
            var season = document.getElementById("season").value;
            var month = document.getElementById("month").value;
            var availability = document.getElementById("availability").value;
            var temperature = document.getElementById("temperature").value;

            if (vegetable && season && month && availability && temperature) {
                count += 1;
                console.log("Vegetable: " + vegetable);
                console.log("Season: " + season);
                console.log("Month: " + month);
                console.log("Availability: " + availability);
                console.log("Temperature: " + temperature);
            } else {
                alert('Please fill in all the fields.');
                return; // Exit the function if fields are not filled
            }

            if (count == 1) {
                alert("Predict successfully !!! see your vegetable price in display ");
            }
        }
    </script>
</head>
<body>
    <div class="predict-form page" id="predict">
        <h2></h2>
        <form>
           
            

          
           

           

        </form>
    </div>
</body>
</html>
