.vegetable-container {
    text-align: center;
    margin: 20px auto; /* Center the container horizontally */
    width: 300px; /* Set the width of the container */
    border: 1px solid white; /* Add border for visual appeal */
    padding: 10px; /* Add padding to the container */
    border-radius: 10px;
    color: white; /* Add border radius for rounded corners */
}

.vegetable-image {
    max-width: 100%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image horizontally */
    margin-bottom:40px;
     /* Center the image horizontally */
}

.price-rate {
    font-size: 20px; /* Set the font size for the price rate */
    margin-top: 10px; /* Add space between image and price rate */
}
#price-list{
background-color: white;
width: 350px;
margin: 20px auto;
text-align: center;
padding: 10px;
border-radius: 10px;
border: 1px solid green;

}
.price-rate{
color: black;
font-size: larger;
font-weight: bold;
top:20px;

}

