.predict-form {
    width: 50%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.predict-form h2 {
    margin-bottom: 1rem;
}

.predict-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.predict-form label {
    margin-bottom: 0.5rem;
}

.predict-form input,
.predict-form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.predict-form button {
    padding: 0.7rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.predict-form button:hover {
    background-color: blue;
}
